<%- include('../partials/header') %>

<form id="add-genre-form" action="/genres" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Add Genre">
  </form>


<section id="genre-container">
  <% genres.forEach(function(p) { %>
    <article class="genre"><%= p.name %></article>
  <% }) %>
</section>



<%- include('../partials/footer') %>