<%- include('./partials/header') %>

<div class="spinboxLogo">
  <img src="/images/sgraphicmain.png" alt="spinbox-logo" class="spinbox-image" />
</div>

 <div class="googleLogin">
    <a href="/auth/google" class="googleButton">Log in with Google<img src="https://i.imgur.com/FHjYyi0.png"></a>
  </div>

  <div class="spotifyLogin">
    <a href="/auth/spotify" class="spotifyButton">Log in with Spotify<img src="https://i.imgur.com/qvdqtsc.png" class = "spotifyLogo"></a>
  </div>

 
<%- include('./partials/footer') %>