<%- include('./partials/header') %>

<h2>Home Page</h2>

 <div class="googleLogin">
    <a href="/auth/google" class="googleButton">Log in with Google<img src="https://i.imgur.com/FHjYyi0.png"></a>
  </div>

<%- include('./partials/footer') %>