body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff; 
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  background-color: #1e1e1e; 
}

body > nav {
  grid-area: nav;
  font-family: 'Montserrat', sans-serif;
  background-color: #00af91; 
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e; 
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff; 
}

nav > a:hover:not(.active) {
  color: #000; 
  background-color: #00af91; 
}

nav > a.active {
  color: #000; 
  cursor: default;
  background-color: #00af91; 
}

#new-form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr; 
  background-image: linear-gradient(to right, #00af91, #00af91);
  background-size: 150% 150%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 300px;
}

#new-form input[type="text"],
#new-form textarea {
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  border: solid black 1px;
  background-color: #fff;
  width: 90%;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  margin: 20px auto;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  background-color: #00af91;
  border: solid black 1px;
  border-radius: 5px;
  cursor: pointer;
}

#new-form input[type="submit"]:hover {
  background-color: #009e86;
}

#add-review-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  background-color: #00af91; 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

#add-review-form input[type="submit"]:hover {
  background-color: #009e86;
}


#add-genre-form {
  background-image: linear-gradient(to right, #00af91, #00af91);
  padding: 9px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  
}

#add-genre-form input[type="submit"]  {
  grid-column: span 2;
  width: 150px;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-size: 25px;
  color: #fff;
  background-color: #00af91;
  border: solid black 1px;
  border-radius: 5px;
  cursor: pointer;
}

#add-genre-form input[type="submit"]:hover {
  background-color: #009e86;
 
}

#add-genre-form input[type="text"] {
  width: 85%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

#new-form *,
#add-review-form *,
#add-genre-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  color: #1e1e1e; 
}

table {
  font-size: 18px; 
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

table thead th {
  padding: 10px; 
  font-family: 'Montserrat', sans-serif;
  background-color: #00af91; 
  color: #ffffff; 
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #f2f2f2; 
  color: #1e1e1e; 
  border-bottom: 1px solid #e2e2e2; 
}


#list a {
  border-radius: 4px;
  background-color: #00af91; 
  color: #ffffff; 
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: #ffffff; 
  color: #00af91; 
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}


#add-review-form,
#add-genre-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"] {
  grid-column: span 2;
  width: 150px;
  margin: 20px auto;
  padding: 10px;
  font-size: 25px;
  color: #fff;
  background-color: #00af91;
  border: solid black 1px;
  border-radius: 5px;
  cursor: pointer;
}



textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  width: 93%;
  min-height: 150px;
}

hr {
  color: #B8C0C2; 
}


#genre-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border: 2px groove #00af91; 
  border-radius: .5rem;
  margin: .5rem 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.genre {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-family: 'Merriweather', serif;
  text-align: center;
  display: inline-block;
  background-image: linear-gradient(to right, #00af91, cyan, green);
  color: #333; 
  font-weight: bold;
}

.genre:hover {
  transform: scale(1.15);
}

.genre-item {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  font-size: .8rem;
  font-family: 'Merriweather', serif;
  text-align: center;
  display: inline-block;
  background-image: linear-gradient(to right, #00af91, violet, cyan, green, plum);
  background-size: 150% 150%;
  animation: rainbow 5s linear infinite;
  color: #333; 
  font-weight: bold;
}


@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
  
#show-page li {
  font-weight: bold;
}

.googleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  font-size: 15.5px;
  background-color: #ffffff; 
  border: 1px solid #e0e0e0; 
  border-radius: 4px; 
  padding: 10px; 
  width: 200px; 
  margin-bottom: 10px;
}

.googleButton {
  text-decoration: none;
  color: #1e1e1e; 
}


.googleButton:hover {
  background-color: #f5f5f5; 
}

.googleLogin img {
  height: 25px;
}

.user-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
 
}
.spotifyLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  font-size: 15.5px;
  background-color: #1DB954; 
  border: 1px solid #1DB954; 
  border-radius: 4px;
  padding: 10px;
  width: 200px;
}

.spotifyButton {
  text-decoration: none;
  color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotifyButton:hover {
  background-color: #1ED760; 
}

.spotifyLogo {
  height: 25px;
  margin-right: 10px; 
  margin-left: 10px;
}

#add-genre-to-list {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

#add-genre-to-list select {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  padding: 8px;
  border-radius: 5px;
}

#add-genre-to-list button {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  padding: 8px 20px;
  color: #fff;
  background-color: #00af91;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.spinbox-logo {
  height: 350px;
}

.spinboxLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px; 
}

.spotifyProfileLink {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.spotifySearchLink {
  height: 60px;
  margin-top: 20px;
}

.delete-button {
  background-color: #00af91; 
  color: #ffffff; 
  border: none;
  padding: 4px 6px; 
  border-radius: 5px; 
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000; 
}

.genre-graphic {
  height: 450px;
  width: 450px;
}